<mat-toolbar color="primary" class="navbar">
  <a
    aria-label="Inicio"
    class="navbar-icon"
    [routerLink]="isLogoClickable ? '/' : null"
    [class.clickable]="isLogoClickable"
  >
    <img src="../../../assets/LogoDorado.png" alt="STOCKMaster Logo" class="navbar-logo" />
  </a>
  <span [routerLink]="'/'" class="navbar-title">STOCKMaster</span>

  <span class="navbar-spacer"></span>

  <a *ngIf="isInHomePage && !isLoggedIn" [routerLink]="'/login'" mat-button class="navbar-link">
    <mat-icon class="navbar-icon">login</mat-icon>
    Iniciar sesión
  </a>

  <div *ngIf="isInAdminPage && isLoggedIn" class="navbar-actions">
    <button mat-button class="navbar-link" (click)="logout()">
      <mat-icon class="navbar-icon">logout</mat-icon>
      Cerrar sesión
    </button>
  </div>
</mat-toolbar>
