<mat-card class="profile-card">
    <h1 class="profile-title">Detalles del Perfil</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="text-center">
            <div class="profile-image"></div>
            <h1 class="mt20">Pepito Pérez</h1>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="profile-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Nombre</td>
                        <td>Pepito</td>
                      </tr>
                      <tr>
                        <td>Apellido</td>
                        <td>Pérez</td>
                      </tr>
                      <tr>
                        <td>Documento de Identidad</td>
                        <td>1099009090</td>
                      </tr>
                      <tr>
                        <td>Salario</td>
                        <td>1.600.000</td>
                      </tr>
                      <tr>
                        <td>Rol</td>
                        <td>Administrador</td>
                      </tr>
                    </tbody>
                  </table>                  
            </div>
          </div>
        </div>
      </div>
      <div class="profile-actions">
       
      </div>
    </mat-card-content>
  </mat-card>
  