<mat-card class="admin-dashboard">
    <div class="dashboard-card">
      <h1 class="dashboard-title">Bienvenido al Sistema</h1>
      <div class="dashboard-sections">
        <div class="section-card">
          <i class="fas fa-bell fa-3x icon-1"></i> <!-- Ícono de alarma para Estado de Stock -->
          <h2>Estado del Stock</h2>
          <p>Niveles actuales de los productos.</p>
        </div>
        <div class="section-card">
          <i class="fas fa-boxes fa-3x icon-2"></i> <!-- Ícono de cajas para Inventario -->
          <h2>Inventario</h2>
          <p>Gestiona el inventario de productos.</p>
        </div>
      </div>
    </div>
</mat-card>
  
  